body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 20px;
}
/* index.css */

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

@media (max-width: 600px) {
  .content {
      padding: 10px;
  }
}

